[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
#requires = ["poetry>=1.0"]
#build-backend = "poetry.masonry.api"

[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "scdlbot"
description = "Telegram Bot for downloading MP3 rips of tracks/sets from SoundCloud, Bandcamp, YouTube with tags and artwork"
version = "0.13.7"
license = "MIT"

authors = ["George Pchelkin <george@pchelk.in>"]

readme = "README.rst"

repository = "https://github.com/gpchelkin/scdlbot"
homepage = "https://github.com/gpchelkin/scdlbot"
documentation = "https://scdlbot.readthedocs.io"

keywords = ["scdlbot", "telegram", "bot", "soundcloud", "bandcamp", "youtube", "mixcloud", "yandex", "audio", "music", "download"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: End Users/Desktop",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Internet",
    "Operating System :: OS Independent",
    "Natural Language :: English",
]

include = ["AUTHORS.rst", "CONTRIBUTING.md", "CHANGELOG.rst", "LICENSE", "README.rst", "tests/*", "docs/*.rst", "docs/conf.py", "docs/Makefile", "docs/*.jpg", "docs/*.png", "docs/*.gif", "scdlbot/texts/*"]

[tool.poetry.scripts]
scdlbot = "scdlbot.__main__:main"

[tool.poetry.dependencies]
python = "^3.6"
#python-telegram-bot = "13.1"
python-telegram-bot = "12.8"
python-telegram-handler = "2.2"
boltons = "20.2.1"
plumbum = "1.7.0"
ffmpeg-python = "0.2.0"
mutagen = "1.45.1"
patool = "1.12"
requests = "^2.25.0"
prometheus_client = "0.9.0"
celery = "^5.0.1"
#pyshorteners = "0.6.1"
#transliterate = "1.10.2"

### For publishing to PyPI:
youtube_dl = "2021.3.3"
#youtube-dlc = "2020.11.11.post3"
#scdl = "1.6.12"
#bandcamp-downloader = "0.0.8.post12"

### For making it really work:
# https://github.com/ytdl-org/youtube-dl/pull/26684
#youtube_dl = { git = "https://github.com/l1ving/youtube-dl.git" }
#youtube_dl = { git = "https://github.com/gilou/youtube-dl.git", branch = "bandcamp_update" }
#youtube_dl = { git = "https://github.com/gpchelkin/youtube-dl.git", branch = "bandcamp_update" }
#youtube-dlc = { git = "https://github.com/blackjack4494/yt-dlc.git", branch = "master" }
scdl = { git = "https://github.com/flyingrub/scdl.git" }
bandcamp-downloader = { git = "https://github.com/iheanyi/bandcamp-dl.git" }

[tool.poetry.dev-dependencies]
mypy = "^0.812"

wemake-python-styleguide = "^0.15"
flake8-pytest = "^1.3"
flake8-pytest-style = "^1.3"
nitpick = "^0.24.0"

safety = "^1.10.0"

pytest = "^6.2.0"
pytest-cov = "^2.11"
pytest-randomly = "^3.5"

sphinx = "^3.5.0"
sphinx-autodoc-typehints = "^1.11.0"
doc8 = "^0.8"
m2r2 = "^0.2"
tomlkit = "^0.7"

tox = "^3.22"


[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
