[build-system]
requires = ["poetry-core>=1.0.0a5"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "scdlbot"
version = "0.13.3"
description = "Telegram Bot for downloading MP3 rips of tracks/sets from SoundCloud, Bandcamp, YouTube with tags and artwork"
license = "MIT"

authors = ["George Pchelkin <george@pchelk.in>"]

readme = "README.rst"

repository = "https://github.com/gpchelkin/scdlbot"
homepage = "https://github.com/gpchelkin/scdlbot"
documentation = "https://scdlbot.readthedocs.io"

keywords = ["scdlbot", "telegram", "bot", "soundcloud", "bandcamp", "youtube", "mixcloud", "yandex", "audio", "music", "download"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: End Users/Desktop",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Internet",
    "Operating System :: OS Independent",
    "Natural Language :: English",
]

include = ["AUTHORS.rst", "CONTRIBUTING.md", "CHANGELOG.rst", "LICENSE", "README.rst", "tests/*", "docs/*.rst", "docs/conf.py", "docs/Makefile", "docs/*.jpg", "docs/*.png", "docs/*.gif", "scdlbot/texts/*"]

[tool.poetry.scripts]
scdlbot = "scdlbot.__main__:main"

[tool.poetry.dependencies]
python = "^3.6"
python-telegram-bot = "12.6.1"
python-telegram-handler = "2.2"
boltons = "20.1.0"
plumbum = "1.6.9"
# For build and publish:
scdl = "1.6.12"
# For testing:
#scdl = { git = "https://github.com/flyingrub/scdl.git" }
# jackno for soundcloud api v2
#scdl = { git = "https://github.com/jackno/scdl.git" }
#scdl = { git = "https://github.com/gpchelkin/scdl.git", branch = "fix_timestamp_and_already_downloaded" }
bandcamp-downloader = "0.0.8.post12"
youtube_dl = "2020.3.24"
ffmpeg-python = "0.2.0"
mutagen = "1.44.0"
patool = "1.12"
requests = "2.23.0"
#pyshorteners = "0.6.1"
celery = "4.4.2"
prometheus_client = "0.7.1"
#transliterate = "1.10.2"

[tool.poetry.dev-dependencies]
mypy = "^0.770"

wemake-python-styleguide = "^0.14.0"
flake8-pytest = "^1.3"
flake8-pytest-style = "^1.1"
nitpick = "^0.22.1"

safety = "^1.8.7"

pytest = "^5.4.1"
pytest-cov = "^2.7"
pytest-randomly = "^3.3"

sphinx = "^2.4.4"
sphinx-autodoc-typehints = "<1.11"
doc8 = "^0.8"
m2r = "^0.2"
tomlkit = "^0.6"

tox = "^3.14"


[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
