[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "scdlbot"
version = "0.11.0"
description = "Telegram Bot for downloading MP3 rips of tracks/sets from SoundCloud, Bandcamp, YouTube with tags and artwork"
license = "MIT"

authors = ["George Pchelkin <george@pchelk.in>"]

readme = "README.rst"

repository = "https://github.com/gpchelkin/scdlbot"
homepage = "https://github.com/gpchelkin/scdlbot"
documentation = "https://scdlbot.readthedocs.io"

keywords = ["scdlbot", "telegram", "bot", "soundcloud", "bandcamp", "youtube", "audio", "music", "download"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: End Users/Desktop",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Internet",
    "Operating System :: OS Independent",
    "Natural Language :: English",
]

include = ["AUTHORS.rst", "CONTRIBUTING.md", "CHANGELOG.rst", "LICENSE", "README.rst", "tests/*", "docs/*.rst", "docs/conf.py", "docs/Makefile", "docs/*.jpg", "docs/*.png", "docs/*.gif", "scdlbot/texts/*"]

[tool.poetry.scripts]
scdlbot = "scdlbot.__main__:main"

[tool.poetry.dependencies]
python = "^3.6"
python-telegram-bot = "10.1.0"
python-telegram-handler = "2.2"
boltons = "19.3.0"
plumbum = "1.6.7"
# For build and publish:
scdl = "1.6.12"
# For testing:
#scdl = { git = "https://github.com/flyingrub/scdl.git" }
#scdl = { git = "https://github.com/gpchelkin/scdl.git", branch = "fix_timestamp_and_already_downloaded" }
bandcamp-downloader = "0.0.8.post12"
youtube_dl = "2020.1.1"
ffmpeg-python = "0.2.0"
#pydub = "0.23.1"
mutagen = "1.43.0"
patool = "1.12"
pyshorteners = "0.6.1"
logentries = "0.17"
celery = "4.4.0"
#transliterate = "1.10.2"

[tool.poetry.dev-dependencies]
mypy = "^0.750"

wemake-python-styleguide = "^0.13.3"
flake8-pytest = "^1.3"
flake8-pytest-style = "^0.1.3"
nitpick = "^0.21.3"

safety = "^1.8"

pytest = "^5.3"
pytest-cov = "^2.7"
pytest-randomly = "^3.1"

sphinx = "^2.2"
sphinx-autodoc-typehints = "<1.11"
doc8 = "^0.8"
m2r = "^0.2"
tomlkit = "^0.5"

tox = "^3.14"


[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
