# Render Blueprint Specification Schema is documented at https://render.com/docs/yaml-spec
services:
  - name: scdlbot
    plan: free
    numInstances: 1
    type: web
    env: docker
    dockerfilePath: Dockerfile.render
    envVars:
      - key: TG_BOT_OWNER_CHAT_ID
        value: 1306343
      - key: WEBHOOK_ENABLE
        value: 1
      - key: WEBHOOK_APP_URL_ROOT
        value: https://scdlbot.onrender.com
      - key: HOST
        value: 0.0.0.0
      - key: HOSTNAME
        value: test-render
      - key: WORKERS
        value: 3
      - key: DL_TIMEOUT
        value: 900
      - key: MAX_CONVERT_FILE_SIZE
        value: 150_000_000
      - key: MAX_TG_FILE_SIZE
        value: 45_000_000
      - key: LOGLEVEL
        value: INFO
#      - key: TG_BOT_TOKEN
#      - key: SYSLOG_ADDRESS
#      - key: NO_FLOOD_CHAT_IDS
