python-telegram-bot==8.1.1
boltons==17.1.0
plumbum==1.6.3
#transliterate==1.9
scdl==1.6.9
bandcamp-downloader==0.0.8.post8
youtube-dl==2017.11.15
pydub==0.20.0
mutagen==1.39
patool==1.12
pyshorteners==0.6.1
Celery==4.1.0
botanio==1.0.0
logentries==0.17
loggly-python-handler==1.0.0
