python-telegram-bot==7.0.1
boltons==17.1.0
plumbum==1.6.3
#transliterate==1.9
scdl==1.6.6
bandcamp-downloader==0.0.8.post6
youtube-dl==2017.8.23
pydub==0.20.0
mutagen==1.38
patool==1.12
pyshorteners==0.6.1
Celery==4.1.0
