amqp==2.5.2
args==0.1.0
bandcamp-downloader==0.0.8.post12
beautifulsoup4==4.8.2
billiard==3.6.1.0
boltons==20.0.0
celery==4.4.0
certifi==2019.11.28
chardet==3.0.4
clint==0.5.1
demjson==2.2.4
docopt==0.6.2
ffmpeg-python==0.2.0
future==0.18.2
idna==2.8
importlib-metadata==1.4.0; python_version < "3.8"
kombu==4.6.7
logentries==0.17
mock==3.0.5
more-itertools==8.1.0
mutagen==1.43.0
patool==1.12
plumbum==1.6.7
pyshorteners==0.6.1
python-telegram-bot==10.1.0
python-telegram-handler==2.2
pytz==2019.3
requests==2.22.0
-e git+https://github.com/flyingrub/scdl.git@4813d62e5ff9543cd907ccb1ee0c1100fea7482d#egg=scdl
six==1.14.0
soupsieve==1.9.5
termcolor==1.1.0
unicode-slugify==0.1.3
unidecode==1.1.1
urllib3==1.25.8
vine==1.3.0
youtube-dl==2020.1.24
zipp==2.0.1; python_version < "3.8"
