# This is systemd service file. How to install service:
# sudo cp scdlbot.service.sample /etc/systemd/system/scdlbot.service
# sudo nano /etc/systemd/system/scdlbot.service
# sudo systemctl daemon-reload
# sudo systemctl enable scdlbot
# sudo systemctl restart scdlbot
# sudo systemctl status scdlbot

[Unit]
Description=scdlbot
After=network.target

[Service]
# https://manpages.ubuntu.com/manpages/bionic/man5/systemd.service.5.html
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://manpages.ubuntu.com/manpages/bionic/man5/systemd.resource-control.5.html
# https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html
User=www-data
Group=www-data
Type=simple
EnvironmentFile=/etc/default/scdlbot
#Environment=SYSTEMD_LOG_LEVEL=debug
#ExecStartPre=-rm -rf /scdlbothome/scdlbotdata.pickle
#ExecStart=/opt/pyenv/versions/3.11.5/bin/scdlbot
ExecStart=/usr/local/bin/scdlbot
WatchdogSec=180
WatchdogSignal=SIGKILL
NotifyAccess=all
Restart=always
RestartSec=5
CPUQuotaPeriodSec=1000ms
CPUQuota=140%
MemoryHigh=3100M
MemoryMax=3400M
TasksMax=infinity
LimitAS=infinity
LimitRSS=infinity
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
