# This is systemd service file. How to install service:
# sudo cp scdlbot.service.sample /etc/systemd/system/scdlbot.service
# sudo nano /etc/systemd/system/scdlbot.service
# sudo systemctl daemon-reload
# sudo systemctl enable scdlbot
# sudo systemctl start scdlbot
# sudo systemctl status scdlbot

[Unit]
Description=scdlbot
After=syslog.target

[Service]
User=www-data
Group=www-data
Type=simple
EnvironmentFile=/home/gpchelkin/scdlbot/.env
#ExecStart=/usr/local/bin/scdlbot
ExecStart=/home/gpchelkin/.pyenv/shims/scdlbot
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
