# This is systemd service file. How to install service:
# sudo cp scdlbot.service.sample /etc/systemd/system/scdlbot.service
# sudo nano /etc/systemd/system/scdlbot.service
# sudo systemctl daemon-reload
# sudo systemctl enable scdlbot
# sudo systemctl restart scdlbot
# sudo systemctl status scdlbot

[Unit]
Description=scdlbot
After=network.target

[Service]
# https://manpages.ubuntu.com/manpages/bionic/man5/systemd.service.5.html
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://manpages.ubuntu.com/manpages/bionic/man5/systemd.resource-control.5.html
# https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html
User=www-data
Group=www-data
Type=simple
EnvironmentFile=/etc/default/scdlbot
#Environment=SYSTEMD_LOG_LEVEL=debug
#ExecStartPre=-rm -rf /scdlbothome/scdlbotdata.pickle
#ExecStartPre=/usr/bin/pkill -f python3.11
#ExecStart=/opt/pyenv/versions/3.11.5/bin/scdlbot
ExecStart=/usr/local/bin/scdlbot
WatchdogSec=180
#WatchdogSignal=SIGKILL
#KillMode=mixed
NotifyAccess=all
Restart=always
RestartSec=5
CPUQuotaPeriodSec=1000ms
# 3 vCPU:
CPUQuota=250%
# 4 GB RAM:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.resource-control.html
# If the value is suffixed with K, M, G or T, the specified memory size is parsed as Kilobytes, Megabytes, Gigabytes, or Terabytes (with the base 1024), respectively
# https://stackoverflow.com/a/36992829
MemoryHigh=2900M
MemoryMax=3100M
TasksMax=infinity
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
