# This file is used to setup env
# to generate documentation.

sphinx==3.2.0
sphinx-autodoc-typehints==1.11.0
recommonmark==0.6.0
m2r2==0.2.5
tomlkit==0.6.0

# Dependencies of our project:
typing-extensions==3.7.4.2
