name: release

on:
  workflow_run:
    workflows: ["build"]
    branches: ["release"]
    types: ["completed"]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Set up Python 3.12
      uses: actions/setup-python@v4.7.1
      with:
        python-version: '3.12'
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Install Poetry
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools wheel
        export POETRY_VERSION=1.7.1
        wget --output-document=install-poetry.py https://install.python-poetry.org
        python "install-poetry.py"
        rm -f "install-poetry.py"
        echo "$HOME/.poetry/bin" >> $GITHUB_PATH
        poetry config installer.parallel true

    - name: Publish release
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
      run: |
        poetry publish --build
